<?xml version="1.0" encoding="utf-8"?>
<config>
    <inputData>
        <type>SMAP</type>
        <sourceBand>7</sourceBand>
        <targetBand>6</targetBand>
        <path>/home/beywood/ST/CIMR_RGB/Data/SMAP/L1b/SMAP_L1B_TB_47980_D_20240125T055803_R19240_001.h5</path>
        <!-- AMSR2 Specific Configuration Parameters -->
        <LMT>2200</LMT>
    </inputData>
    <GridParams>
            <type>L1c</type>
            <projectionType>EASE</projectionType>
    </GridParams>
    <ReGridderParams>
        <sourceBand></sourceBand>
        <targetBand></targetBand>
    </ReGridderParams>
</config>
